*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
}

svg,
img {
    display: block;
    width: 100%;
}

.border {
    border: 1px solid red;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.title-main {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;

    line-height: 33px;

    color: #000000;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    .collapse {
        border-radius: 100px;
        max-width: 520px;
        margin: 0 auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: $blue-light;
    }
    ul {
        padding: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 100px;
        border: 5px dashed #fff;
        li {
            margin-right: 1rem;
            a {
                font-family: "Nunito", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 33px;

                color: #fff;
            }
        }
    }
}
.main-text {
    p {
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        line-height: 33px;
    }
}
.bar {
    width: 100%;
    margin: 0 auto;
}
.navbar-toggler {
    @include responsive(s) {
        background-color: #8bd3f0 !important;
        color: white;
        float: right;
    }
}
.menu-mobile {
    height: 100vh;
    width: 80%;
    transition: 0.5s ease;
    z-index: 99999999999999;
    background-color: #8bd3f0 ;
    position: fixed;
    top: 0;
  
    left: -100%;
    opacity: 0.9;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    &.active{
        left:0;
    }
    .mobile{
        padding-left: 1rem;
        padding-top: 1rem;
        li {
        
            a {
                font-family: "Nunito", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 33px;

                color: #fff;
            }
        }
    }
}
@import "partials/animation";
